@page "/"

@attribute [Authorize]
<PageTitle>Home</PageTitle>

<div class="row flex-grow-1">
    <div class="col-7 rounded-3 me-4 bg-black">

    </div> 
    <div class="col-2 rounded-3 me-3 bg-success">

    </div>
    <div class="col-2 rounded-3 bg-primary">

    </div>


</div>